@import "reset.css";
@import "variables.css";
@import "common.css";

/*-----screens-----*/
@import "screens/main.css";
@import "screens/about.css";
@import "screens/danuri.css";
@import "screens/clps.css";
@import "screens/data.css";
@import "screens/media.css";

/*-----components-----*/
@import "components/header.css";
@import "components/footer.css";
@import "components/sub-pages.css";

/*-----font-----*/
@font-face {
  font-family: "urw-din", sans-serif;
  src: url("https://use.typekit.net/aah3orw.css");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
  unicode-range: U+AC00-D7A3;
}
