.main-visual {
  width: 100%;
  height: 100vh;
  padding: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main-visual__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: black;
}
.main-visual__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-visual__text {
  display: flex;
  flex-direction: column;
  color: white;
}
.main-visual__text span:first-child {
  font-size: 34px;
  margin-bottom: 16px;
  color: var(--blue);
}
.main-visual__text span:last-child {
  font-size: 88px;
  line-height: 1.3;
  font-family: "urw-din-semi-condensed";
  font-weight: 600;
}
.main-visual__btn button {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  padding: 0px;
}

.main-initials {
  font-size: 26px;
}
.main-dalo .main-initials {
  color: var(--blue);
}
.main-dalo button:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
}
.main-danuri {
  background-color: var(--main-bg-color);
}
.main-danuri .main-initials {
  color: var(--orange);
}
.main-danuri button:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: white;
}
.main-clps .main-initials {
  color: var(--green);
}
.main-clps button:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white;
}
.main p {
  font-size: 18px;
  margin-bottom: 32px;
}
.main h3 {
  font-size: 30px;
  margin-bottom: 0;
}
.payloads {
  gap: 34px;
  margin-top: 60px;
}
.payloads__item {
  display: grid;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 12px;
  padding: 18px 22px;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  cursor: pointer;
}
.payloads__item:hover {
  transform: translateY(-8px);
  transition: all 0.4s ease-in-out;
}
.main-danuri .payloads__item {
  background-color: white;
}
.payloads__item span {
  font-size: 18px;
}
.payloads__item img {
  grid-area: 1/2/3/3;
  width: 100%;
  align-self: center;
}
